:root {
    --card-bg: #ebebeb;       
    --text-color: #e0e0e0;   
    --input-bg: #3c3c3c;    
    --accent-green: #4CAF50;  
    --accent-orange: #ff9800; 
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    background: #ffffff; 
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
}


.login-container {
    background-color: rgb(20, 20, 24); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    max-width: 350px;
    width: 100%;
    text-align: center;
    border: 1px solid #333; 
}

h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

input {
    padding: 12px;
    border: 1px solid #5555554d;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #61afef; 
    outline: none;
}

input::placeholder {
    color: #999;
}

.button-group {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.btn-register-confirm {
    flex-grow: 1; 
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.2s, background-color 0.2s;
    color: white;
    background-color: #ff9800; 
}

.btn-register-confirm:hover {
    opacity: 0.9;
}

.btn-login-redirect {
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; 
    transition: opacity 0.2s;
    margin-top: 20px;
    width: 100%;
}

.btn-login-redirect:hover {
    opacity: 0.9;
}
