/* sidebar-styles.css */
:host {
    display: block;
    /* Ajustes para el contenedor de la barra lateral */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo del Rect치ngulo Celeste (User Greeting) */
.user-greeting-button {
    width: 100%;
    padding: 1px 1px;
    background-color: #ff2929; /* Un color de bot칩n sutil en el gris oscuro */
    color: #e0e0e0;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;

    box-shadow: 0 4px 10px rgba(255, 2, 2, 0.767) ;
}

.user-greeting-button:hover{
    background-color: #940a0a;
}



/* Estilos de los botones de navegaci칩n */
.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-button {
    width: 100%;
    padding: 15px 10px;
    background-color: #fd591d; /* Un color de bot칩n sutil en el gris oscuro */
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;

    box-shadow: 0 4px 10px rgba(255, 74, 2, 0.786) ;
}

.nav-button:hover {
    background-color: #ac380d;
    
}